language: node_js
dist:
    - jammy
node_js:
    - stable
cache:
    directories:
        - node_modules
before_script:
    - npm install -g firebase-tools
script:
    - npm run build
    - firebase deploy --only hosting --token $FIREBASE_TOKEN
branches:
    only:
        - master
env:
    global:
        secure: RL5asi7h/rilyPjjASZXSzW1z+ABCnEvnuE3o9112kWq6s/BAh95r/QsGyD8IHuap8VDUKatDPNl2fTMqsbA3El/V6PMI6JyJpAJiTZ5Z4BdHsGhURBysh7w7gTEBECYnC0Kr+163RAgog5CkQkIR6OqbXRQOPF0TO9D3eCC2g0QJ+dv0qKTpRQ7112//Bts9OEfoKd3HFI79sT2qT4p5oJYko7214QqABTdNoG2uIjWzrImUkN/jJpx3f+WcnqQuSqdfYXFuZDvkOMXZpRVHW+PnhIHjAIsahX3RAud2zsnE7bDOEeyYX/OxDZopsE7vVhm/aFEUZofSkmHIJEE7dWXobs3Zy+rSfsYrMAFsqSwKvGUz/WAeOS7xtAVGx/mp6fXChuuxGHY+jtSpnWMA1Anj0ltbXMK2gxfCtnUYOAP2Xd91qIWGKUoGUXzhgCT6olGO7+x0V/rgLVPEcu545r+g5MnZpeGkZ20k7k5ca206KiubVgtgAqtLZcbdmaFO44cS3YtCgHoKSRGUEKoH5Hior7XWfE8B7+agdqDjX13GaiuI5hJ262/DYKv0uWEOPAOk7p6fF5OeLLTh5f0W8N3mRwB98A/3fM8e7tjN/j2mQbo3bTMW/stof5Mkemr6T75Gzw21V5RnhQw+Era6xm6utouZg6Hr0SisBK+RXM=
notifications:
    email:
        - mjinkens1@gmail.com
